In [1]:
import pandas as pd
import numpy as np

In [2]:
bmx = pd.read_sas('BMX_I.XPT')

In [3]:
bmx.head()

,SEQN,BMDSTATS,BMXWT,BMIWT,BMXRECUM,BMIRECUM,BMXHEAD,BMIHEAD,BMXHT,BMIHT,...,BMXARMC,BMIARMC,BMXWAIST,BMIWAIST,BMXSAD1,BMXSAD2,BMXSAD3,BMXSAD4,BMDAVSAD,BMDSADCM
0,83732.0,1.0,94.8,NaN,NaN,NaN,NaN,NaN,184.5,NaN,...,35.9,NaN,101.1,NaN,22.9,22.7,NaN,NaN,22.8,NaN
1,83733.0,1.0,90.4,NaN,NaN,NaN,NaN,NaN,171.4,NaN,...,33.2,NaN,107.9,NaN,27.5,27.1,NaN,NaN,27.3,NaN
2,83734.0,1.0,83.4,NaN,NaN,NaN,NaN,NaN,170.1,NaN,...,31.0,NaN,116.5,NaN,26.7,26.5,NaN,NaN,26.6,NaN
3,83735.0,1.0,109.8,NaN,NaN,NaN,NaN,NaN,160.9,NaN,...,38.3,NaN,110.1,NaN,25.2,25.0,NaN,NaN,25.1,NaN
4,83736.0,3.0,55.2,NaN,NaN,NaN,NaN,NaN,164.9,NaN,...,27.2,NaN,80.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
bmx.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9544 entries, 0 to 9543
Data columns (total 26 columns):
SEQN        9544 non-null float64
BMDSTATS    9544 non-null float64
BMXWT       9445 non-null float64
BMIWT       443 non-null float64
BMXRECUM    1073 non-null float64
BMIRECUM    33 non-null float64
BMXHEAD     215 non-null float64
BMIHEAD     0 non-null float64
BMXHT       8769 non-null float64
BMIHT       105 non-null float64
BMXBMI      8756 non-null float64
BMDBMIC     3340 non-null float64
BMXLEG      7110 non-null float64
BMILEG      402 non-null float64
BMXARML     8976 non-null float64
BMIARML     420 non-null float64
BMXARMC     8976 non-null float64
BMIARMC     421 non-null float64
BMXWAIST    8313 non-null float64
BMIWAIST    489 non-null float64
BMXSAD1     6983 non-null float64
BMXSAD2     6983 non-null float64
BMXSAD3     353 non-null float64
BMXSAD4     353 non-null float64
BMDAVSAD    6983 non-null float64
BMDSADCM    446 non-null float64
dtypes: float64(26)
memory usage: 1.9 MB

In [5]:
demo = pd.read_sas('DEMO_I.XPT')

In [6]:
demo.head()

,SEQN,SDDSRVYR,RIDSTATR,RIAGENDR,RIDAGEYR,RIDAGEMN,RIDRETH1,RIDRETH3,RIDEXMON,RIDEXAGM,...,DMDHREDU,DMDHRMAR,DMDHSEDU,WTINT2YR,WTMEC2YR,SDMVPSU,SDMVSTRA,INDHHIN2,INDFMIN2,INDFMPIR
0,83732.0,9.0,2.0,1.0,62.0,NaN,3.0,3.0,1.0,NaN,...,5.0,1.0,3.0,134671.370419,135629.507405,1.0,125.0,10.0,10.0,4.39
1,83733.0,9.0,2.0,1.0,53.0,NaN,3.0,3.0,1.0,NaN,...,3.0,3.0,NaN,24328.560239,25282.425927,1.0,125.0,4.0,4.0,1.32
2,83734.0,9.0,2.0,1.0,78.0,NaN,3.0,3.0,2.0,NaN,...,3.0,1.0,3.0,12400.008522,12575.838818,1.0,131.0,5.0,5.0,1.51
3,83735.0,9.0,2.0,2.0,56.0,NaN,3.0,3.0,2.0,NaN,...,5.0,6.0,NaN,102717.995647,102078.634508,1.0,131.0,10.0,10.0,5.00
4,83736.0,9.0,2.0,2.0,42.0,NaN,4.0,4.0,2.0,NaN,...,4.0,3.0,NaN,17627.674984,18234.736219,2.0,126.0,7.0,7.0,1.23

In [7]:
demo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9971 entries, 0 to 9970
Data columns (total 47 columns):
SEQN        9971 non-null float64
SDDSRVYR    9971 non-null float64
RIDSTATR    9971 non-null float64
RIAGENDR    9971 non-null float64
RIDAGEYR    9971 non-null float64
RIDAGEMN    695 non-null float64
RIDRETH1    9971 non-null float64
RIDRETH3    9971 non-null float64
RIDEXMON    9544 non-null float64
RIDEXAGM    4060 non-null float64
DMQMILIZ    6149 non-null float64
DMQADFC     527 non-null float64
DMDBORN4    9971 non-null float64
DMDCITZN    9969 non-null float64
DMDYRSUS    2236 non-null float64
DMDEDUC3    2647 non-null float64
DMDEDUC2    5719 non-null float64
DMDMARTL    5719 non-null float64
RIDEXPRG    1288 non-null float64
SIALANG     9971 non-null float64
SIAPROXY    9970 non-null float64
SIAINTRP    9971 non-null float64
FIALANG     9642 non-null float64
FIAPROXY    9642 non-null float64
FIAINTRP    9642 non-null float64
MIALANG     6977 non-null float64
MIAPROXY    6978 non-null float64
MIAINTRP    6978 non-null float64
AIALANGA    5962 non-null float64
DMDHHSIZ    9971 non-null float64
DMDFMSIZ    9971 non-null float64
DMDHHSZA    9971 non-null float64
DMDHHSZB    9971 non-null float64
DMDHHSZE    9971 non-null float64
DMDHRGND    9971 non-null float64
DMDHRAGE    9971 non-null float64
DMDHRBR4    9575 non-null float64
DMDHREDU    9575 non-null float64
DMDHRMAR    9909 non-null float64
DMDHSEDU    5226 non-null float64
WTINT2YR    9971 non-null float64
WTMEC2YR    9971 non-null float64
SDMVPSU     9971 non-null float64
SDMVSTRA    9971 non-null float64
INDHHIN2    9626 non-null float64
INDFMIN2    9642 non-null float64
INDFMPIR    8919 non-null float64
dtypes: float64(47)
memory usage: 3.6 MB

In [8]:
merged = bmx.merge(right = demo, on = 'SEQN')

In [9]:
print(merged.head())

      SEQN  BMDSTATS  BMXWT  BMIWT  BMXRECUM  BMIRECUM  BMXHEAD  BMIHEAD  \
0  83732.0       1.0   94.8    NaN       NaN       NaN      NaN      NaN
1  83733.0       1.0   90.4    NaN       NaN       NaN      NaN      NaN
2  83734.0       1.0   83.4    NaN       NaN       NaN      NaN      NaN
3  83735.0       1.0  109.8    NaN       NaN       NaN      NaN      NaN
4  83736.0       3.0   55.2    NaN       NaN       NaN      NaN      NaN

   BMXHT  BMIHT    ...     DMDHREDU  DMDHRMAR  DMDHSEDU       WTINT2YR  \
0  184.5    NaN    ...          5.0       1.0       3.0  134671.370419
1  171.4    NaN    ...          3.0       3.0       NaN   24328.560239
2  170.1    NaN    ...          3.0       1.0       3.0   12400.008522
3  160.9    NaN    ...          5.0       6.0       NaN  102717.995647
4  164.9    NaN    ...          4.0       3.0       NaN   17627.674984

        WTMEC2YR  SDMVPSU  SDMVSTRA  INDHHIN2  INDFMIN2  INDFMPIR
0  135629.507405      1.0     125.0      10.0      10.0      4.39
1   25282.425927      1.0     125.0       4.0       4.0      1.32
2   12575.838818      1.0     131.0       5.0       5.0      1.51
3  102078.634508      1.0     131.0      10.0      10.0      5.00
4   18234.736219      2.0     126.0       7.0       7.0      1.23

[5 rows x 72 columns]